<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link type="favicon" rel="shortcut icon" href="~/Upload/setting/favicon-2018-02-13-10-32-43-0d5acd91e93e4f2e821db77de0037226.ico" />*@
    <link id="favicon-icon" type="favicon" rel="shortcut icon" href="~/Upload/setting/favicon-2018-03-02-22-41-46-31e205929abf4e799d26ba4f9910785f.ico" />
    <title></title>
    @Styles.Render("~/bundles/css-lib")
    @Scripts.Render("~/bundles/script-lib")

    <link href="~/Plugin/limarquee/css/liMarquee.css" rel="stylesheet" />
    <script src="~/Plugin/limarquee/js/liMarquee.js"></script>

    <link href="~/Content/home/home-public.css" rel="stylesheet" />
    <script src="~/Scripts/home/home-public.js"></script>
    <link href="~/Content/home/home-layout.css" rel="stylesheet" />
    <script src="~/Scripts/home/home-index.js"></script>
</head>
<body ng-app="app" ng-controller="index">
    @Html.Partial("_Partial_Home_Header")
    @RenderBody()
    @Html.Partial("_Partial_Home_Footer")
</body>
</html>
