<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>模板 - 前台</title>
    @Styles.Render("~/bundles/css-lib")
    @Scripts.Render("~/bundles/script-lib")

    <link href="~/Plugin/marquee/css/liMarquee.css" rel="stylesheet" />
    <script src="~/Plugin/marquee/js/liMarquee.js"></script>

    <link href="~/Content/home/home-public.css" rel="stylesheet" />
    <link href="~/Content/home/home-layout.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_Partial_Home_Header")
    @RenderBody()
    @Html.Partial("_Partial_Home_Footer")
</body>
</html>
